@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.table {
  &__warehouse {
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem $tablet-padding;
  }
  &__heading-row {
    background-color: $light-grey;
    color: $slate;
  }
  &__data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
  }
  &__data-1{
    justify-content: start;
  }
  &__data-last{
    justify-content: end;
    gap: 2rem;
  }
}

// Copied the following from DualCard.scss 
.card {
  padding: $mobile-padding;
  border-top: 1px solid $cloud;
  @include tablet {
    display: none;
    padding: $tablet-padding;
  }

  &__info-div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  &__title {
    color: $slate;
    padding-bottom: $padding-bottom-label;
  }
  &__h4 {
    padding-top: $mobile-padding;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    padding: $mobile-padding 0;
  }
  &__inner-details {
    font-size: $mobile-p-font-medium;
    line-height: $mobile-p-height-medium;
  }
  &__status-qty {
    margin-right: 5rem;
  }
}
