@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

// Tablet and desktop table
.table{
    &__inventory{
        display: none;
        @include tablet{
            display: block;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 1rem $tablet-padding 1rem;

    }
    &__heading-row{
        background-color: $cloud;
        color: slate;
    }
    &__h-quantity{
        padding-left: 2rem;
    }
    &__data{
        display: flex;
        align-items: center;
        text-align: center;
    }
    &__d-quantity{
        padding-left: 40px;
    }
}