@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.button {
    text-decoration: none;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid $cloud;

    padding: 0.5rem 0;
    border: 1px solid $indigo;
    width: 100%;

    @include tablet {
      width: auto;
      padding: 0.5rem 1rem;
    }
  &__link{
    width: 50%;
    @include tablet{
      width: auto;
    }
  }
  &__add{
    background-color: $indigo;
  }
  &__cancel{
    color: $slate;
    background-color: $white;
    border: 1px solid $cloud;
  }
}
