@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.main{
    &__header-div{
        display: flex;
        justify-content: space-between;
    }
    &__div{
        border-bottom: 1px solid $cloud;
        padding: $mobile-padding;
        @include tablet{
            padding: $tablet-padding;
            display: flex;
        }
    }

}

.card{
    &__title{
        font-weight: bold;
        color: $slate
    }
    &__address-div{
        @include tablet{
            margin-right: 7rem;
        }
    }
    &__information-div{
        display: flex;
        gap: 3rem;
        @include tablet{
            border-left: 1px solid $cloud;
            padding-left: 3rem;
        }
    }

}