@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

h2 {
  color: $black;
  padding-left: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $cloud;
  margin-top: 0;
}

.addWarehouse {
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    @include tablet {
      padding: 2rem;
    }

    &--title {
      font-size: 2rem;
      color: $black;
      font-weight: bold;
      padding-left: 0.5rem;
    }
  }
}
