@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

h2 {
  color: $black;
  padding-left: 1rem;
}

.addWarehouse {
  &__header {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    border-bottom: 1px solid $cloud;

    &--title {
      font-size: 2rem;
      color: $black;
      font-weight: bold;
      padding-left: 0.5rem;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.addWarehouse {
  &__header {
  }
}
