@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.status{
    &__alert{
        color: $red;
        background-color: $light-red;
        padding: 0 $padding-tag-lr;
        border-radius: $border-radius;
        margin: 0;
        height: $mobile-tag-height;
    }
}