@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.PageCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: -5rem 1rem 1rem;
  background-color: $white;
  border-radius: 4px;
  @include tablet {
    margin: $tablet-padding;
  }
}
