@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.header__nav--button {
  color: $white;
  background-color: $black;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  font-weight: 600;
  margin: 0;
}
