@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.cancelButton {
  &__add-div {
    text-decoration: none;
    color: $slate;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid $cloud;
    background-color: $white;
    padding: 0.5rem;
    border: 1px solid $cloud;
    width: 100%;

    @include tablet {
      width: auto;
      padding: 0.5rem 1rem;
    }
  }
}
