@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;



.header{
    &__icon-and-heading{
        display: flex;
        gap: 1rem;
    }
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &__edit-div{
        display: flex;
        text-align: center;
        align-items: center;
        border-radius: 100%;
        padding: .2rem;
        background-color: $indigo;

        @include tablet{
            padding: 0 1rem;
            border-radius: 20px;
            height: 38px;
            display: flex;
            font-weight: bold;
        }
    }
    &__edit-icon{
        border-radius: 100%;
        padding: 0.2rem;
        filter: brightness(0) invert(1)
    }
    &__edit-p{
        display: none;
        color: $white;
        margin: 0;
        @include tablet{
            display: block;
        }
    }
}