@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.footer__container {
  text-align: center;
  &--text {
    font-family: "Titillium", "Arial", sans-serif;
    color: $slate;
    background-color: $light-grey;
    font-size: 1rem;
  }
}
