@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.textfield {
  display: flex;
  flex-direction: column;
  font-family: "Titillium", sans-serif;
  margin-bottom: 0.5rem;
  &__label {
    color: $black;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__error {
    color: $red;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
  }

  input {
    border-radius: 20px;
    font-size: 1rem;
    color: $black;
    border: 1px solid $cloud;
    padding: 0.5rem 1rem;
    font-family: "Titillium", sans-serif;
  }
}
