@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.textfield {
  display: flex;
  flex-direction: column;
  font-family: "Titillium", sans-serif;
  padding-left: 2rem;
  &__label {
    
    color: $black;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    //$padding-bottom-label;
  }

  &__error {
    padding-left: 1rem;
    color: $red;
    font-size: 0.8rem;
  }

  input {
    border-radius: 20px;
    font-size: 1rem;
    color: $cloud;
    border: 1px solid $cloud;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-family: "Titillium", sans-serif;
  }
}
