@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.warehouseList {
  &__mobile__content {
    display: block;

    @include tablet {
      display: none;
    }
  }
  &__mobile__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bdc5d5;
    padding-top: 1rem;
  }
  &__mobile__left {
    width: 40%;
    padding-right: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &__mobile__right {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &__delete__icon {
    width: 24px;
    height: 24px;
    top: 481px;
    left: 40px;
    padding-top: 1.5rem;
  }
  &__edit__div{
    padding-left: 9rem;
  }
  &__edit__icon {
    width: 24px;
    height: 24px;
    top: 481px;
    left: 311px;
  }
  &__table__heading {
    width: 4rem;
    height: 1rem;
    top: 21.8rem;
    left: 2.5rem;
    font-size: 11px;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0em;
    color: $slate;
  }
  &__contactinfo {
    width: 6rem;
    padding-top: 1rem;
  }
  &__address {
    padding-top: 1rem;
  }

}
