@use "./styles/partials/global" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

body {
  font-family: "Titillium", sans-serif;
  box-sizing: border-box;
  background-color: $light-grey;
}
a {
  text-decoration: none;
}
p {
  font-family: "Titillium", sans-serif;
  margin-bottom: 0;
  font-size: $mobile-p-height-small;
  line-height: $mobile-p-height-small;

  @include desktop {
    font-size: $mobile-p-height-large;
    line-height: $mobile-p-height-large;
  }
}
h1 {
  margin: 0;
  font-size: $mobile-H1-font;
  line-height: $mobile-H1-height;
  @include desktop {
    font-size: $desktop-H1-font;
    line-height: $desktop-H1-height;
  }
}
h2 {
  margin: 0;
  font-size: $mobile-H2-font;
  line-height: $mobile-H2-height;
  @include desktop {
    font-size: $desktop-H2-font;
    line-height: $desktop-H2-height;
  }
}
h3 {
  margin: 0;
  font-size: $mobile-H3-font;
  line-height: $mobile-H3-height;
  @include desktop {
    font-size: $desktop-H3-font;
    line-height: $desktop-H3-height;
  }
}
h4 {
  margin: 0;
  font-size: $mobile-H4-font;
  line-height: $mobile-H4-height;
  @include desktop {
    font-size: $desktop-H4-font;
    line-height: $desktop-H4-height;
  }
}
li{
  list-style: none;
}