@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.status{
    &__h3{
        color: $green;
        background-color: $light-green;
        padding: 0 $padding-tag-lr;
        border-radius: $border-radius;
        font-weight: 600;
        margin: 0;
        height: $mobile-tag-height;
    }
}